.achievements {
  padding: 60px 40px;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
  z-index: 100;
}

.achievements h2 {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
  color: var(--text-color);
}

.achievements h3 {
  font-size: 1.2rem;
  margin: 30px 0 20px;
  color: var(--text-color);
}

.certificates-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.cert-badge {
  flex: 1 1 150px;
  max-width: 180px;
}

.manual-cert {
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 12px var(--shadow-color);
  transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.manual-cert-logo {
  width: 100px;
  height: 100px;
  border-radius: 2px;
  box-shadow: 0 4px 12px var(--shadow-color);
  transition: box-shadow 0.3s ease;
  filter: invert(var(--theme-invert));
}

.manual-cert p {
  font-size: 0.8rem;
  color: var(--text-color);
}

.manual-cert i {
  color: var(--text-muted);
}

.publications-list {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.pub-card1 {
  flex: 1.75;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px var(--shadow-color);
  transition: transform 0.3s ease, background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.pub-card2 {
  flex: 0.25;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px var(--shadow-color);
  transition: transform 0.3s ease, background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.pub-card1:hover,
.pub-card2:hover {
  transform: translateY(-5px);
}

.pub-card1 h4,
.pub-card2 h4 {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: var(--text-color);
}

.pub-desc {
  margin-bottom: 10px;
  color: var(--text-muted);
  font-size: 0.95rem;
}

.pub-meta {
  font-size: 0.85rem;
  color: var(--text-muted);
}

.pub-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: var(--button-bg);
  font-weight: bold;
}

.pub-link:hover {
  text-decoration: underline;
}

.truncate {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}






/* @keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
} */


@media (max-width: 768px) {
  .certificates-grid {
    flex-direction: column;
    align-items: center;
  }
  .publications-list {
    flex-direction: column;
    align-items: center;
  }
  .pub-card1,
  .pub-card2 {
    max-width: 100%;
    width: 100%;
  }
}