.resume-section {
  text-align: center;
  padding:30px 20px 70px 20px;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 1000px;
}

.resume-title {
  font-size: 2rem;
  margin-bottom: 8px;
}

.resume-subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 30px;
}

.pdf-preview {
  display: block;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
  height: 600px;
}

.resume-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #333;
}

.btn.secondary {
  background: transparent;
  color: #000;
  border: 2px solid #000;
}

.btn.secondary:hover {
  background: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .pdf-preview {
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }


  .btn {
    width: 100%;
    text-align: center;
  }
}
